# 결측치 실습

### 학습 목표
- 결측치에 대한 처리법을 익힌다.

In [14]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
from numpy import nan as NA

In [11]:
data = DataFrame([[1, 6, 3], [1, np.nan, NA], [NA, NA, NA], [NA, 5, 3]])
data

     0    1    2
0  1.0  6.0  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  5.0  3.0

In [1]:
# 결측치가 있는 행, 열 처리하기

In [2]:
# 특정 column을 기준으로 결측치 있는 행을 삭제, subset = ['column명']

In [3]:
# how = any

In [4]:
# how = all

     0    1    2   4
0  1.0  6.0  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  5.0  3.0 NaN

In [5]:
# thresh

In [16]:
df = DataFrame(np.random.rand(7,3)) 
df.iloc[:4, 1]= np.nan
df.iloc[:2, 2]= np.nan
df

          0         1         2
0  0.219626       NaN       NaN
1  0.347000       NaN       NaN
2  0.563908       NaN  0.694225
3  0.888869       NaN  0.723632
4  0.449164  0.222894  0.444055
5  0.692998  0.778887  0.499307
6  0.914845  0.145201  0.742653

In [6]:
# 결측치 채우기

In [7]:
# 결측치 있는 label 제거

In [8]:
# 결측치가 2개 이상인 label만 제거

In [9]:
# 결측치를 0으로 채우기

In [10]:
# 1번 열의 결측치는 0.5로, 2번 열의 결측치는 0으로 채우기

In [25]:
df = DataFrame(np.random.rand(6,3)) 
df.iloc[2:, 1]= np.nan
df.iloc[4:, 2]= np.nan
df

          0         1         2
0  0.164901  0.969016  0.941429
1  0.357846  0.210309  0.123124
2  0.033727       NaN  0.625565
3  0.383769       NaN  0.150833
4  0.537286       NaN       NaN
5  0.370957       NaN       NaN

In [11]:
# 열 전체 결측치를 ffill로 채우기

In [12]:
# 결측치 ffill로 채우기